<p><%= @node.body.html_safe %> <%= @current_count %></p>
<% @node.edges.each do |e|%>
	<a href="/nodes/<%= e.target_node_id %>"><button class="btn"><%= @metric_name %> <%= @edge_count %></button></a>
<% end %>